environment:
  matrix:
  - nodejs_version: "6.0"
  #- nodejs_version: "4.0"

platform:
  - x86
  #- x64

matrix:
  fast_finish: true

install:
  - ps: Update-NodeJsInstallation (Get-NodeJsLatestBuild $env:nodejs_version) $env:Platform

test_script:
  - node --version
  - npm --version
  - npm install elm
  #- elm-make --help
  - cd src/StripeElm
  - elm-make 

build: off